@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

}

@layer utilities {

    .ease-in-cubic {
        animation-timing-function: cubic-bezier(0.32, 0, 0.67, 0);
    }

    .ease-in-quint {
        animation-timing-function: cubic-bezier(0.64, 0, 0.78, 0);
    }

    @keyframes kf-fade-in {
        to {
            opacity: 1
        }
    }

    @keyframes kf-fade-out {
        to {
            opacity: 0;
        }
    }

    @keyframes kf-intro-logo-disperse {
        to {
            width: 100%
        }
    }

    @keyframes kf-logo-letter-fade-in {
        0% {
            opacity: 1;
        }

        70% {
            opacity: 0;
            width: 50px;
        }


        to {
            opacity: 0;
            width: 0;
            padding: 0;
        }
    }
    
    @keyframes kf-shades-show {
        from {
            height: 0;
        }

        to {
            height: 50%;
        }
    }

    @keyframes kf-logo-to-white {
        from {
            color: #000;
        }
        to {
            color: #fff;
        }
    }

    .animate-menu-item-show {
        animation: kf-fade-in 300ms ease-out forwards;
    }

    .animate-intro-logo-disperse {
        @apply ease-in-cubic;
        animation-name: kf-intro-logo-disperse;
        animation-duration: 1000ms;
        animation-delay: 500ms;
        animation-fill-mode: forwards;
    }

    .animate-logo-letter {
        animation-timing-function: ease-in;
        animation-name: kf-logo-letter-fade-in;
        animation-duration: 250ms;
        animation-delay: 1100ms;
        animation-fill-mode: forwards;
    }

    .animate-index-h1-show {
        @apply ease-in-cubic;
        animation-name: kf-fade-in;
        animation-duration: 300ms;
        animation-delay: 1900ms;
        animation-fill-mode: forwards;
    }

    .animate-shade-show {
        @apply ease-in-cubic;
        animation-name: kf-shades-show;
        animation-duration: 500ms;
        animation-delay: 1500ms;
        animation-fill-mode: forwards;
    }

    .animate-logo-to-white {
        @apply ease-in-cubic;
        animation-name: kf-logo-to-white;
        animation-duration: 300ms;
        animation-delay: 1850ms;
        animation-fill-mode: forwards;

    }
}

html {
    font-family: Monserrat, sans-serif;
    @apply w-full h-full;

    body {
        @apply w-full h-full text-3xl font-medium;

        #__nuxt {
            @apply min-h-full flex flex-col;

            h1 {
                @apply text-3xl md:text-5xl font-semibold leading-normal md:leading-normal;
            }

            section {
                @apply w-full min-h-dvh;
            }

            .wrapper {
                @apply p-6 md:p-10;
            }

            .nuxt-icon {
                display: flex;

                svg {
                    width: initial;
                    height: initial;
                    margin-bottom: initial;
                    vertical-align: initial;
                }
            }
        }
    }
}