@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .bg-cup {
        background: url("/images/bg_cup.webp") no-repeat center / cover;
    }

    .bg-cup-mob {
        background: url("/images/bg_cup_mob.webp") no-repeat center;
        background-size: 100% auto;
    }

    .bg-bag {
        background: url("/images/bg_bag.webp") no-repeat center / cover;
    }

    .bg-bag-mob {
        background: url("/images/bg_bag_mob.webp") no-repeat right top;
        background-size: auto 100%;
    }

    .bg-preserves {
        background: url("/images/preserves/1.webp") no-repeat center center / contain;
    }

    .bg-artichoke {
        background: #EAEAEA url("/images/bg_artichoke.webp") no-repeat center center / cover;
        background-size: 600px;
    }

    .bg-about {
        background-image: url("/images/bg_about_top.gif");
    }

    .bg-tech-protocol {
        background: url("/images/tech_protocol_bg_img.jpeg") no-repeat center center / cover;
    }

    .bg-infra-top {
        background: url("/images/bg_infra_top.webp") no-repeat center center / cover;
    }

    .bg-infra-ad-manager {
        background: url("/images/bg_infra_ad_manager.webp") no-repeat center center / cover;
    }

    .bg-roadmap-mob {
        background: url("/images/about_roadmap_mob.svg") repeat top left;
    }

    .mob-p {
        @apply px-6 py-8 md:p-0;
    }

    .wrapper {
        @apply p-6 py-8 md:p-10;
    }

    h1, .h1 {
        @apply text-3xl md:text-5xl font-semibold leading-normal md:leading-normal;
    }

    h2, .h2 {
        @apply text-xl md:text-2xl font-medium;
    }

    h3, .h3 {
        @apply font-bold;
    }

    .menu-open {
        @apply overflow-hidden md:overflow-auto;
    }

    .rotation-90 {
        transform: rotate(90deg) translateY(-100%);
        transform-origin: top left;
        width: 100%;
    }
}

@layer utilities {

    .ease-in-cubic {
        animation-timing-function: cubic-bezier(0.32, 0, 0.67, 0);
    }

    .ease-in-quint {
        animation-timing-function: cubic-bezier(0.64, 0, 0.78, 0);
    }

    @keyframes kf-fade-in {
        to {
            opacity: 1
        }
    }

    @keyframes kf-fade-out {
        to {
            opacity: 0;
        }
    }

    @keyframes kf-intro-logo-disperse {
        to {
            width: 100%
        }
    }

    @keyframes kf-logo-letter-fade-in {
        0% {
            opacity: 1;
        }

        70% {
            opacity: 0;
            width: 50px;
        }


        to {
            opacity: 0;
            width: 0;
            padding: 0;
        }
    }

    @keyframes kf-shades-show {
        from {
            height: 0;
        }

        to {
            height: 50%;
        }
    }

    @keyframes kf-logo-to-white {
        from {
            color: #000;
        }
        to {
            color: #fff;
        }
    }

    .animate-menu-item-show {
        animation: kf-fade-in 300ms ease-out forwards;
    }

    .animate-intro-logo-disperse {
        @apply ease-in-cubic;
        animation-name: kf-intro-logo-disperse;
        animation-duration: 1000ms;
        animation-delay: 500ms;
        animation-fill-mode: forwards;
    }

    .animate-logo-letter {
        animation-timing-function: ease-in;
        animation-name: kf-logo-letter-fade-in;
        animation-duration: 250ms;
        animation-delay: 1100ms;
        animation-fill-mode: forwards;
    }

    .animate-index-h1-show {
        @apply ease-in-cubic;
        animation-name: kf-fade-in;
        animation-duration: 300ms;
        animation-delay: 1900ms;
        animation-fill-mode: forwards;
    }

    .animate-shade-show {
        @apply ease-in-cubic;
        animation-name: kf-shades-show;
        animation-duration: 500ms;
        animation-delay: 1500ms;
        animation-fill-mode: forwards;
    }

    .animate-logo-to-white {
        @apply ease-in-cubic;
        animation-name: kf-logo-to-white;
        animation-duration: 300ms;
        animation-delay: 1850ms;
        animation-fill-mode: forwards;

    }
}

html {
    font-family: Montserrat, sans-serif;
    @apply w-full h-full;

    body {
        @apply w-full h-full text-sm md:text-base font-medium;

        #__nuxt {
            @apply min-h-full flex flex-col;

            section {
                @apply w-full min-h-screen overflow-hidden;
            }

            .nuxt-icon {
                display: flex;

                svg {
                    width: initial;
                    height: initial;
                    margin-bottom: initial;
                    vertical-align: initial;
                }
            }

            .info-block {
                @apply space-y-4 md:space-y-8;
            }

            .tech-nft-num  {
                @apply flex items-center;
                img {
                    width: 200px;
                }
            }
        }
    }
}